<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <bean id="loginAction" class="com.hus.erp.action.LoginAction" scope="prototype">
        <constructor-arg ref="loginService"></constructor-arg>
    </bean>
    <bean id="taskAction" class="com.hus.erp.action.TaskAction" scope="prototype">
        <constructor-arg ref="taskService"></constructor-arg>
    </bean>
    <bean id="quoteAction" class="com.hus.erp.action.sale.QuoteAction" scope="prototype">
        <constructor-arg ref="quoteService"></constructor-arg>
    </bean>
  </beans>