<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean id="baseDao" class="com.hus.erp.dao.BaseDao">
        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- service 层处理 -->
	<bean id="loginService" class="com.hus.erp.service.LoginMgr">
	   <constructor-arg ref="baseDao"></constructor-arg>
	</bean>
	<bean id="taskService" class="com.hus.erp.service.TaskMgr">
	   <constructor-arg ref="baseDao"></constructor-arg>
	</bean>
	<bean id="quoteService" class="com.hus.erp.service.QuoteMgr">
	   <constructor-arg ref="baseDao"></constructor-arg>
	</bean>
</beans>
